<div class="page-header">
<h3>my head is dead</h3>
    
<div id="searchedAds">
  {{#each ads}}
  
<!--  <h2><a href='#' The buyer #{result._id} is an ass hole #{result._id}</a></h2>-->
    <tr>
        
         <td>Buyer name is {{"buyer name"}}    </td>
         <td>buyer email {{"ad location"}}</td>
<!--        <td>profile picture of the buyer is {{"image"}}</td>-->
        <a class="pull-left" href="#"><img src={{imagePath}}></a>
        
    </tr>
    
  {{/each}}
</div>
    
