<div class="page-header">
<h3>Billboard Advertiser</h3>
    
Welcome to Billboard Advertiser!
    
<!--<img src="C:\Users\Nadeeshan\Desktop\new project\public\images\Billboard-Advertising-Dubai-UAE.jpg"></img>-->
<div>
<img src="public/images/Billboard-Advertising-Dubai-UAE.jpg" style="width:500px;height:500px;">
    </div>
</div>